:root {
  --bodyBGColor: hsl(0, 40%, 60%);
  --containerBGColor: hsl(50, 40%, 60%);
  --gridBGColor: hsl(100, 40%, 60%);
  --inlineGridBGColor: hsl(150, 40%, 60%);
  --griditemsBGColor: hsl(200, 40%, 60%);
  --fontsize: 16px;
}

body {
  background: var(--bodyBGColor);
  font-size: var(--fontsize);
}

.container {
  /*grid and inline-grid*/
  padding: 15px;
  margin: 15px;
  border-style: solid;
}

/*********************************************/

#grid-container {
  background-color: var(--gridBGColor);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px 10px; /*row column*/
  font-size: var(--fontsize);
}
.grid-items {
  background-color: var(--griditemsBGColor);
  border-style: solid;
}

#grid-item-01 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#grid-item-02 {
  grid-row-start: 2;
  grid-row-end: 4;
}

/*****************************************/

#inline-grid-container {
  background-color: var(--inlineGridBGColor);
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 10px 10px;
}

#inline-grid-item-01 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#inline-grid-item-02 {
  grid-row-start: 2;
  grid-row-end: 4;
}
